HELP.md
src/main/resources/*.properties
src/main/resources/static/.well-known/pki-validation/*.txt
src/main/resources/*.p12
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!src/main/src/main/**/build/
!src/main/src/test/**/build/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!src/main/src/main/**/bin/
!src/main/src/test/**/bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!src/main/src/main/**/out/
!src/main/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/
